<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BT05"
        android:supportsRtl="true"
        android:theme="@style/Theme.BT04"
        tools:targetApi="31">
        <activity
            android:name=".ListView.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Grid_View.Grid_Activity">
        </activity>
        <activity
            android:name=".Recycler_View.SongRecyclerActivity">
        </activity>
        <activity
            android:name=".Multiple_View.MutipleActivity">
        </activity>
        <activity
            android:name=".Animation_View.MainAnimationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>